body{ background-color: teal;} 
p { color: blue; } 
h3{ color: white; }


#assignment1 {
	width:1000px;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	min-height:100%;
	color:Black;
}
#topics{float:right;}
.link {font-size:15px; color:blue;}
.link:hover{
	color:purple;
	text-decoration:underline;
	cursor:hand;
	cursor:pointer;
}
#topiclist{float:left}
#vote {text-align:left; font-size:10px;}
.reply {font-size:12px;text-decoration:underline;}
.commentButton{font-size:10px;text-decoration:underline;}
.reply:hover{
	color:yellow;
	text-decoration:underline;
	cursor:hand;
	cursor:pointer;
}
.commentButton:hover{
	color:white;
	text-decoration:underline;
	cursor:hand;
	cursor:pointer;
}
